body{
  padding:0px;
  margin:0px;
}

header{
  border-top: 15px solid #232323;
  width:100%;
  height:270px;
  background:url(https://i.imgur.com/Sf9DT4e.png);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

.maintitle{
  font-family: 'Oswald', sans-serif;
  text-align:center;
  font-size:3em;
  text-shadow:2px 2px 3px #333;
  color:#fff;
 
}

@media only screen and (max-width:480px) {
  .maintitle{
    font-size:2em;
  }
}

.smalltext{
  padding-top:1.3em;
  font-family: 'Oswald', sans-serif;
  text-align:center;
  font-size:2em;
  text-shadow:2px 2px 3px #333;
  color:#fff;
}

@media only screen and (max-width:480px) {
  .smalltext{
    font-size:1.5em;
  }
}

.content{
  width:60%;
  margin:0 auto;
  font-family: 'Oswald', sans-serif;
  padding-bottom:2em;
}

@media only screen and (max-width:480px) {
  .content{
    font-size:0.9em;
  }
}

section{
  height:40%;
  padding-top:5px;
  padding-bottom:5px;
}

.copyright{
    background:#232323;
    width:40%;
    margin:0 auto;
}

.greybackground{
  background:#232323;
}

.greybackground h2 {color:#fff;}
.greybackground p {color:#fff;}

section h2 {
  font-family: 'Oswald', sans-serif;
  text-align:center;
  color:#232323;
  text-decoration:underline;
  font-size:2e;
}

@media only screen and (max-width:480px) {
  section h2 {
    font-size:1em;
  }
}

footer{
  border-top: 15px solid #232323;
  width:100%;
  height:190px;
  background:url(https://i.imgur.com/Sf9DT4e.png);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  padding-top:1.3em;
  font-family: 'Oswald', sans-serif;
  text-align:center;
  font-size:1em;
  text-shadow:2px 2px 3px #333;
  color:#fff;
}

ul{
  list-style-type:none;
  width:250px;
  margin:0 auto;
  font-size:1em;
  font-family: 'Oswald', sans-serif;
}

li {
  display:inline;
}

p{
  margin:0 auto;
  width:250px;
  font-size:1em;
  font-family: 'Oswald', sans-serif;
}

