body{
    font-family: 'Mountains of Christmas';
    background-color: #8E9EC8;
  }
  .container{
    position: relative;
    display: block;
    margin: auto;
    margin-top: 0%;
    width: 700px;
    height: 600px;
    position: absolute;
    height: 100%;
    width: 100%;
    background:
      url("https://i.imgur.com/NC4aWSK.png"),
      url("https://i.imgur.com/0KcUrjk.png");
    animation: snowFall 15s linear infinite;
    z-index: 5;
  }
  
  h1 {
    color: #899795;
    font-size: 5em;
    margin: 2%;
    padding: 1%;
    color: rgba(255,255,255, 0.7);
    margin-bottom:15px;
    text-align: center;
  }
  
  
  @keyframes colors {
      0% {
        color: #fff; 
    }
      50% { 
        color: #E01C04; 
    }
    100% {
      color: #EAF725;
    }
  }
  
  .snow {
    position: absolute;
    height: 100%;
    width: 100%;
    background:
    url("https://i.imgur.com/NC4aWSK.png"),
    url("https://i.imgur.com/0KcUrjk.png");
    animation: snowFall 15s linear infinite;
    z-index: 5;
  }
  
  @keyframes snowFall {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: 500px 1000px, 400px 400px, 300px;
    }
  }