.copyright{
    background:#000000;
    width:16%;
    margin:0 auto;
    color:#fff;
}

a {
margin-top: auto;
color: #fff;
}

.platzhalter{
background: #000000;
margin: 500 auto;
width: 100mm;
}

marquee {
color: #fff;
}


audio{
    margin:0 auto;
    width:100%;
    color: black;
    background: black;
    
}
